.upload-list-item {
  display: flex;
  //margin-bottom: 20px;
}

.upload-list-item-photo {
  margin-right: 20px;
}

.upload-list-item-info {
  //display: flex;
  //flex-direction: row-reverse;
  //justify-content: space-between;
  width: 700px;
}

.upload-list-item-info h2 {
  color: #212121;
}